@model ems.domain.ProductSubGroup
<div class="form-group row">
    @Html.LabelFor(m => m.prdSGCode, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(model => model.prdSGCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.prdSGCode)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.prdSGName, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(model => model.prdSGName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.prdSGName)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.prdMGId, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.EJ().DropDownListFor(model => model.prdMGId, (Syncfusion.JavaScript.Models.DropDownListProperties)ViewData["ProdGroupDropdownModel"])
        @Html.ValidationMessageFor(model => model.prdMGId)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.gstId, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.EJ().DropDownListFor(model => model.gstId, (Syncfusion.JavaScript.Models.DropDownListProperties)ViewData["GSTRateDropdownModel"])
        @Html.ValidationMessageFor(model => model.gstId)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.prdSGRemarks, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">        
        @Html.TextAreaFor(model => model.prdSGRemarks, new { @class = "form-control", @rows = "3" })
    </div>
</div>