@model ems.domain.ServiceExpense
<div class="form-group row">
    @Html.LabelFor(m => m.SerSAC, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(model => model.SerSAC, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SerSAC)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.SerName, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(model => model.SerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SerName)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.SerOrExp, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.EJ().DropDownListFor(model => model.SerOrExp, (Syncfusion.JavaScript.Models.DropDownListProperties)ViewData["SerExpTypeDropdownModel"])
        @Html.ValidationMessageFor(model => model.SerOrExp)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.gstId, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.EJ().DropDownListFor(model => model.gstId, (Syncfusion.JavaScript.Models.DropDownListProperties)ViewData["GSTRateDropdownModel"])
        @Html.ValidationMessageFor(model => model.gstId)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.SerRemarks, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">        
        @Html.TextAreaFor(model => model.SerRemarks, new { @class = "form-control", @rows = "3" })
        @Html.ValidationMessageFor(model => model.SerRemarks)
    </div>    
</div>