@model ems.domain.ProductMainGroup
<div class="box-body">
    <div class="form-group">
        @Html.LabelFor(m => m.prdMGHSN)
        <div class="row">
            <div class="col-xs-3">
                @Html.TextBoxFor(model => model.prdMGHSN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prdMGHSN)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.prdMGName)
        <div class="row">
            <div class="col-xs-3">
                @Html.TextBoxFor(model => model.prdMGName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prdMGName)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.prdTypeId)
        <div class="row">
            <div class="col-xs-3">
                @Html.EJ().DropDownListFor(model => model.prdTypeId, (Syncfusion.JavaScript.Models.DropDownListProperties)ViewData["ProdTypeDropdownModel"])
                @Html.ValidationMessageFor(model => model.prdTypeId)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.prdMGRemarks)
        @Html.TextAreaFor(model => model.prdMGRemarks, new { @class = "form-control", @rows = "3" })
    </div>
</div>
