@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Home</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>General Masters</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","Customer")"><i class="fa fa-dollar"></i> <span>Customer</span></a></li>
                    <li><a href="@Url.Action("Create","Vendor")"><i class="fa fa-user-secret"></i> <span>Vendor</span></a></li>
                    <li><a href="@Url.Action("Create","GST")"><i class="fa fa-ship"></i> <span>GST Rates</span></a></li>
                    <li><a href="@Url.Action("Create","Warehouse")"><i class="fa fa-ship"></i> <span>Warehouse</span></a></li>                    
                    <li><a href="#"><i class="fa fa-ship"></i> <span>Fiscal Year</span></a></li>
                    <li><a href="@Url.Action("Edit","Company")"><i class="fa fa-ship"></i> <span>Company Details</span></a></li>                    
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-industry"></i> <span>Purchase</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Purchase Indent</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Supplier Order</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>GRN</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Q.A</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Purchase Bill</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-industry"></i> <span>Sales</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","ProductMainGroup")"><i class="fa fa-tags"></i> <span>Product Main Group</span></a></li>
                    <li><a href="@Url.Action("Create","ProductSubGroup")"><i class="fa fa-tags"></i> <span>Product Sub Group</span></a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> <span>Product Defenition</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Quotation</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>GIN</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Sales Invoice</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Stock Reconciliation</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-industry"></i> <span>Service</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","ServiceExpense")"><i class="fa fa-tags"></i> <span>Service/Expense Defenition</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Quotation</span></a></li>
                    <li><a href="@Url.Action("Create","ServiceInvoice")"><i class="fa fa-cube"></i> <span>Service Invoice</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Service Bill</span></a></li>                    
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-industry"></i> <span>Accounts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-ship"></i> <span>Chart of Accounts</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Expense Bill</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Account Payables</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Account Receivables</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Payment to Vendors</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Receipt from Customer</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Bank/Cash Payment</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Bank/Cash Receipt</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Fund Transfer</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Debit Note</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Credit Note</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Journal Entry</span></a></li>
                    <li><a href="#"><i class="fa fa-cube"></i> <span>Bank Reconciliaton</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-hourglass-end"></i> <span>H.R</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-random"></i> <span>Department</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Designation</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Wage Grade</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Salary Period</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Employee</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Leaves</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Attendance Sheet</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-hourglass-end"></i> <span>Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-random"></i> <span>Stock Reports</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>GSTR-1</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>GSTR-2</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Purchase Reports</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Sales Reports</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Service Reports</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Trial Balance</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Balance Sheet</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Profit & Loss</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Trading  P&L</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Bank/Cash Status</span></a></li>
                    <li><a href="#"><i class="fa fa-random"></i> <span>Ledger Detailed Report</span></a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>